@import '../../../../scss/variables.scss';

.OurTeam {
    padding: 60px 0;

    .swiper-container {
        width: 100%;

        .slide {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 350px;
                height: 453px;
                border-radius: 40px;
                background: #EDEDED;
                object-fit: cover;
            }
        }

        .swiper-button-prev:after,
        .swiper-button-next:after {
            content: "";
            display: block;
            width: 50px;
            height: 50px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .swiper-button-prev:after {
            background-image: url("/assets/icons/mdi_arrow-left.svg");
        }

        .swiper-button-next:after {
            background-image: url("/assets/icons/mdi_arrow-right.svg");
        }
    }
}