@import '../../../../scss/variables.scss';

.FirstScreen {
  width: 100%;
  height: 100vh;
  // background-image: url("/assets/img/first-screen-bg.png");
  background-size: cover;
  background-position: center;
  position: relative;



  .banner {
    width: 100%;
    height: max-content;
    background-color: #FFCD01;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .container {
    display: flex;
    justify-content: center;
    z-index: 2;
  }

  .decoration-sircle {
    width: 385px;
    height: 385px;
    top: -74px;
    left: -45px;
    position: absolute;
    background-color: #3C3530;
    border-radius: 50%;
  }

  .container {
    display: flex;
    justify-content: center;
    // height: 100%;
    z-index: 2;

    p {
      color: #fff;
    }
  }

  .img-box {
    position: absolute;
    top: 50%;
    z-index: 3;
  }

  .info {
    padding: 24px;
  }

  h1 {
    font-size: 79px;
    font-weight: 700;
    line-height: 94.8px;
    letter-spacing: -0.04em;
    text-align: left;
  }

  h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;

  }

  

  .button {
    width: 100%;
    padding: 14px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #040404;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    &.light {
      background-color: #fc4e19;
      border: 1px solid #fff;
    }
  }

  .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .gallery-container {
      margin-top: 40px;
      width: 200px;
      height: 200px;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: #fff;
      // border-radius: 50%;
    }

    .main-image {
      transform: scale(1.2);
    }

    .smaller-images {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
}