.contact-form {
    
    .info {
        padding: 14px;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;

        a {
            color: #2A91C1;
        }
    }
}

.success-message{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}