@import '../../../../scss/variables.scss';

.Contacts {
    padding: 60px;
    background-color: #F6F4F0;
    border-radius: 45px;

    @media (max-width: $media-tablet) {
        padding: 24px 12px;
    }

    .slide {
        width: 300px;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            background-color: #fff;
            border-radius: 10px;
            overflow: hidden;
        }

        h2{
            width: 100%;
            text-align: center;
            display: block;
        }
    }

    .slick-prev,
    .slick-next {
        opacity: 0;
    }

    .slick-dots li button:before {
        color: #9C9898;
    }

    .slick-dots li.slick-active button:before {
        color: #FF6A00;
    }
}